<nb-layout>
 <nb-layout-column>
   <nb-card [nbSpinner]="updatingUser" nbSpinnerStatus="primary">
     <nb-card-header>
       Almost there!
     </nb-card-header>
     <nb-card-body>
       <nb-alert
         status="danger"
         closable
         (close)="closeAlert()"
         *ngIf="updatingUserError === true"
       >
         {{ updatingUserErrorMessage }}
       </nb-alert>
       <nb-stepper #stepper>
         <nb-step [stepControl]="nameForm" label="Name">
           <form #nameForm="ngForm" class="step-container">
             <div class="input-group">
               <input
                 type="text"
                 placeholder="Enter your preferred name"
                 name="name"
                 required
                 nbInput
                 ngModel
                 #name="ngModel"
                 [status]="name.invalid ? 'danger' : 'basic'"
               />
             </div>
             <button
               nbButton
               nbStepperNext
               [disabled]="name.invalid"
               [status]="name.invalid ? 'basic' : 'primary'"
             >
               next
             </button>
           </form>
         </nb-step>
 
         <nb-step [stepControl]="languageForm" label="Language">
           <form #languageForm="ngForm" class="step-container">
             <div class="input-group">
               <nb-select
                 placeholder="Select Showcase"
                 ngModel
                 #language="ngModel"
                 name="language"
                 id="language"
                 required
                 [status]="
                   language.dirty
                     ? language.invalid
                       ? 'danger'
                       : 'success'
                     : 'basic'
                 "
               >
                 <nb-option *ngFor="let item of options" [value]="item.code">
                   {{ item.language }}
                 </nb-option>
               </nb-select>
             </div>
             <button
               nbButton
               nbStepperNext
               [disabled]="language.invalid"
               [status]="language.invalid ? 'basic' : 'primary'"
               (click)="signUp(name.value, language.value)"
             >
               complete
             </button>
           </form>
         </nb-step>
       </nb-stepper>
     </nb-card-body>
   </nb-card>
 </nb-layout-column>
</nb-layout>