<div class="alignment">
<div class="row mt-4">
    <form #changesForm="ngForm" (ngSubmit)="updateChangesToDb(changesForm)">

        <p>Please make your preference changes </p>

        <div class="row">
            <div class="col-md-6 mb-2">
                <label for="name">Preferred User Name</label>
                <input ngModel #name="ngModel" name="name" type="text" class="form-control" id="name">
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="language">Preferred Language</label>
            <select ngModel #language="ngModel" name="language" class="form-control" id="language">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="sp">Spanish</option>
                <option value="it">Italian</option>
                <option value=sw> Swahili </option>
                <option value="zh">Chinese</option>
                <option value="ar">Arabic </option>
                <option value="de">German </option>
            </select>
          </div>

          <div class="col-md-12">
            <button class="btn btn-primary" type="submit" [disabled]="!changesForm.valid">Submit</button>
            
          </div>

      </div>

    </form>
</div>
</div>