<nb-chat [title]="selectedUser.name | titlecase">
  <nb-chat-message
    *ngFor="let message of messages"
    [message]="
      message.senderId !== currId ? message.translatedText : message.text
    "
    [reply]="message.senderId !== currId ? false : true"
    [date]="message.timestamp"
  >
  </nb-chat-message>

  <nb-chat-message
    *ngIf = "messageInTransit"
    [message]="'sending...'"
    [reply]="true"
  >
  </nb-chat-message>

  <nb-chat-form (send)="sendMessage($event)"></nb-chat-form>
</nb-chat>
