<div class="heading">
    <div class="headind_srch"></div>
</div>

<div class="msg_history">
    <li class="message">
        <div class="incoming_msg">
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>Incoming Message text</p>
                </div>
            </div>
        </div>
        <div class="outgoing_msg">
            <div class="sent_msg">
            <p>Another outgoing text</p>
            </div>
        </div>
    </li>
</div>
<div class="chat_input">
    <div class = "flex">
        <input class="form-control input" type="text" placeholder="Type a mesage" name="newMessage">
        <button type="submit" class="btn btn-primary mb-2 send_btn">Send</button>
    </div>
</div>

