<nb-card [nbSpinner]="loginAwait" nbSpinnerStatus="primary">
  <nb-card-header>Login</nb-card-header>
  <nb-card-body>
    <nb-alert status="danger" closable (close)="onClose()" *ngIf="errorPresent">
      {{ error }}
    </nb-alert>
    <form #nameForm="ngForm">
      <input
        nbInput
        type="email"
        name="email"
        email
        ngModel
        #userEmail="ngModel"
        fullWidth
        placeholder="Email"
        required
      />
      <input
        nbInput
        type="password"
        name="password"
        id="password"
        ngModel
        #userPW="ngModel"
        minlength="6"
        fullWidth
        placeholder="Password"
        required
      />
      <button
        nbButton
        fullWidth
        class="login_button"
        status="primary"
        [disabled]="nameForm.invalid"
        type="submit"
        (click)="login(userEmail.value, userPW.value)"
      >
        Login
      </button>
    </form>
    <div class="register_link">
      Don't have an account? <a [routerLink]="['/register']">Sign up here</a>
    </div>
    <br />
    <div class="divider"><p>OR</p></div>
    <br />

    <button
      id="google"
      nbButton
      fullWidth
      class="social_button"
      (click)="loginWithGoogle()"
    >
      <img
        width="23px"
        alt="Google sign-in"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
        class="icon"
      />
      Login with Google
    </button>

    <button
      id="facebook"
      nbButton
      fullWidth
      class="social_button"
      (click)="loginWithFacebook()"
    >
      <i class="fa fa-facebook-square fa-2x icon" aria-hidden="true"></i>
      Login with Facebook
    </button>
  </nb-card-body>
</nb-card>
