<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="text-center">Auto Translating Chat App</div>
      <button nbButton size="large" class="pull-right" [nbContextMenu]="menuItems" nbContextMenuTag="my-context-menu">
          <nb-icon icon="person-outline" status="primary" size="large"></nb-icon>
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column [nbSpinner]="!chatroomUsers" nbSpinnerStatus="primary">

    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="dialog-template">
        <nb-card-header class="header-container">
            Update Language Preference
            <button nbSuffix nbButton ghost autofocus (click)="ref.close(); closeAlert()">
                <nb-icon icon="close"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body>
            <nb-alert status="danger" closable (close)="closeAlert()" *ngIf="languageUpdateError === true">
                {{ languageUpdateErrorMessage }}
            </nb-alert>
            <nb-alert status="success" closable (close)="closeAlert()" *ngIf="languageUpdateError === false">
                Success
            </nb-alert>
            Kindly update your language
            <nb-select
            placeholder="Select Showcase"
            ngModel
            #language="ngModel"
            name="language"
            id="language"
            required
            >
            <nb-option value="en">English</nb-option>
            <nb-option value="fr">French</nb-option>
            <nb-option value="es">Spanish</nb-option>
            <nb-option value="it">Italian</nb-option>
            <nb-option value="sw"> Swahili </nb-option>
            <nb-option value="zh">Chinese</nb-option>
            <nb-option value="ar">Arabic </nb-option>
            <nb-option value="de">German </nb-option>
            </nb-select>
        </nb-card-body>
        <nb-card-footer>
            <button
            nbButton
            status="primary"
            [disabled]="language.invalid"
            (click)="updateLanguage(language.value)"
            >
            Update
            </button>
        </nb-card-footer>
        </nb-card>
    </ng-template>

    <div class="content" role="main">
      <div class="container">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch input-group">
              <input
                #autoInput
                nbInput
                type="text"
                fullWidth
                placeholder="Search for user by name"
                (input)="onInput(autoInput.value)"
                [nbAutocomplete]="auto"
              />
              <nb-autocomplete
                #auto
                (selectedChange)="onSelectionChange($event)"
              >
                <nb-option
                  *ngFor="let user of filteredUsers$ | async"
                  [value]="user"
                >
                  {{ user.name | titlecase }}
                </nb-option>
              </nb-autocomplete>
            </div>

              <app-chat-bar
                [users]="chatroomUsers" 
                (changeChat)="onChange($event)"
              ></app-chat-bar>
          </div>

          <div class="mesgs">
            <div *ngIf="!currentChat" class="no_messages">
              <p>Please select a user to chat</p>
            </div>
            <app-chat-section
              *ngIf="currentChat"
              [selectedUser]="currentChat"
              [messageInTransit]="sendingMessage"
              (emitMessage)="onNewMessage($event)"
            ></app-chat-section>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
