<!-- <div class="alignment">
<div class="row mt-4" >

  <div class="col-12">
    <h4>Registration</h4>
    <br>
  </div>

  <div class="col-12">
    <div class="row" *ngIf="authError">
      <div class="col-12 alert alert-danger">
        {{ authError?.message }}
      </div>
    </div>
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="firstName">First name</label>
          <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName">
        </div>
        <div class="col-md-6 mb-2">
          <label for="lastName">Last name</label>
          <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="">
        </div>
      </div>

      <div class="row">
          <div class="col-md-12 mb-2">
            <label for="language">Preferred Language</label>
            <select ngModel #language="ngModel" name="language" class="form-control" id="language">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="sp">Spanish</option>
                <option value="it">Italian</option>
                <option value=sw> Swahili </option>
                <option value="zh">Chinese</option>
                <option value="ar">Arabic </option>
                <option value="de">German </option>
            </select>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-2">
          <label for="email">Email</label>
          <input ngModel #email="ngModel" name="email" type="email" class="form-control">
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-md-10 mb-2" >
            <label for="password">Password</label>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control">
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-10 mb-2">
            <label for="confirmPassword">Confirm Password</label>
            <input required ngModel #confirmPassword="ngModel" name="confirmPassword" id="confirmPassword"
            type="password" class="form-control" appConfirmEqualValidator="password" >
            <span class="help-block"
                *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && 
                !confirmPassword.errors?.required">
                Password Mismatch!
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" type="submit" [disabled]="!userRegForm.valid">Submit</button>
            <span class="help-block"
                *ngIf="!userRegForm.valid">
                Please Fill Out All the Fields
            </span>
          </div>
        </div>
      </div>

    </form>
  </div>
</div> 
</div> -->

<nb-card [nbSpinner]="registerAwait" nbSpinnerStatus="primary">
  <nb-card-header >
      <button nbSuffix nbButton ghost [routerLink]="['/login']"> 
          <nb-icon icon="arrow-back"></nb-icon> 
      </button>
      Sign Up 
  </nb-card-header>
  <nb-card-body>
      <nb-alert status="danger" closable (close)="onClose()" *ngIf="errorPresent">
        {{ error }}
      </nb-alert>
      <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm.value)">
        <input nbInput type="text" name="firstName" ngModel #firstName="ngModel" placeholder="First name" required [status]="firstName.dirty? (firstName.invalid? 'danger': 'success'): 'basic'">
        <input nbInput type="text" name="lastName" ngModel #lastName="ngModel" placeholder="Last name" required [status]="lastName.dirty? (lastName.invalid? 'danger': 'success'): 'basic'">
        <input nbInput type="email" name="email" email ngModel #userEmail="ngModel" placeholder="Email address" required [status]="userEmail.dirty? (userEmail.invalid? 'danger': 'success'): 'basic'">
        <nb-select placeholder="Select Showcase" ngModel #language="ngModel" name="language" id="language" required [status]="language.dirty? (language.invalid? 'danger': 'success'): 'basic'">
            <nb-option value="en">English</nb-option>
            <nb-option value="fr">French</nb-option>
            <nb-option value="sp">Spanish</nb-option>
            <nb-option value="it">Italian</nb-option>
            <nb-option value=sw> Swahili </nb-option>
            <nb-option value="zh">Chinese</nb-option>
            <nb-option value="ar">Arabic </nb-option>
            <nb-option value="de">German </nb-option>
        </nb-select>
        <div *ngIf="userEmail.dirty? (userEmail.invalid? true : false ) : false">
            <small class="error">
                Input must be an email address
            </small>
        </div>
        <input nbInput type="password" name="password"  ngModel #password="ngModel" fullWidth placeholder="Password" minlength="6" required [status]="password.dirty? (password.invalid? 'danger': 'success'): 'basic'">
        <small *ngIf="password.dirty && password.errors?.minlength" class="error">
            Password must be at least 6 characters long or empty
        </small>
        <input nbInput type="password" name="confirmPassword" id="confirmPassword" ngModel #confirmPassword="ngModel" fullWidth placeholder="Confirm Password" minlength="6" appConfirmEqualValidator="password" required [status]="confirmPassword.dirty? (confirmPassword.invalid? 'danger': 'success'): 'basic'">
        <small *ngIf="confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required" class="error">
            Password mismatch
        </small>      
        <button nbButton fullWidth class="login_button" status="primary" [disabled]="userRegForm.invalid" type="submit">Sign Up</button>
      </form>
  </nb-card-body>
</nb-card>

