<nb-layout>
 <nb-layout-column>
   <nb-card [nbSpinner]="registerAwait" nbSpinnerStatus="primary">
     <nb-card-header>
       <button nbSuffix nbButton ghost>
         <nb-icon icon="arrow-back" [routerLink]="['/login']"></nb-icon>
       </button>
       Sign Up
     </nb-card-header>
 
     <nb-card-body>
       <nb-alert
         status="danger"
         closable
         (close)="onClose()"
         *ngIf="errorPresent"
       >
         {{ error }}
       </nb-alert>
       <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm.value)">
         <input
           nbInput
           type="text"
           name="firstName"
           ngModel
           #firstName="ngModel"
           placeholder="First name"
           required
           [status]="
             firstName.dirty
               ? firstName.invalid
                 ? 'danger'
                 : 'success'
               : 'basic'
           "
         />
         <input
           nbInput
           type="text"
           name="lastName"
           ngModel
           #lastName="ngModel"
           placeholder="Last name"
           required
           [status]="
             lastName.dirty
               ? lastName.invalid
                 ? 'danger'
                 : 'success'
               : 'basic'
           "
         />
         <input
           nbInput
           type="email"
           name="email"
           email
           ngModel
           #userEmail="ngModel"
           placeholder="Email address"
           required
           pattern=".*@google.com"
           [status]="
             userEmail.dirty
               ? userEmail.invalid
                 ? 'danger'
                 : 'success'
               : 'basic'
           "
         />
         <nb-select
           placeholder="Select Language"
           ngModel
           #language="ngModel"
           name="language"
           id="language"
           required
           [status]="
             language.dirty
               ? language.invalid
                 ? 'danger'
                 : 'success'
               : 'basic'
           "
         >
           <nb-option *ngFor="let item of options" [value]="item.code">
             {{ item.language }}
           </nb-option>
         </nb-select>
         <div *ngIf="userEmail.dirty && userEmail.invalid">
           <small *ngIf="userEmail.errors?.email" class="error">
             Input must be an email address
           </small>
           <small *ngIf="userEmail.errors?.pattern" class="error">
             Email must be a google address
           </small>
         </div>
         <input
           nbInput
           type="password"
           name="password"
           ngModel
           #password="ngModel"
           fullWidth
           placeholder="Password"
           minlength="6"
           required
           [status]="
             password.dirty
               ? password.invalid
                 ? 'danger'
                 : 'success'
               : 'basic'
           "
         />
         <small
           *ngIf="password.dirty && password.errors?.minlength"
           class="error"
         >
           Password must be at least 6 characters long or empty
         </small>
         <input
           nbInput
           type="password"
           name="confirmPassword"
           id="confirmPassword"
           ngModel
           #confirmPassword="ngModel"
           fullWidth
           placeholder="Confirm Password"
           minlength="6"
           appConfirmEqualValidator="password"
           required
           [status]="
             confirmPassword.dirty
               ? confirmPassword.invalid
                 ? 'danger'
                 : 'success'
               : 'basic'
           "
         />
         <small
           *ngIf="
             confirmPassword.dirty &&
             confirmPassword.errors?.notEqual &&
             !confirmPassword.errors?.required
           "
           class="error"
         >
           Password mismatch
         </small>
         <button
           nbButton
           fullWidth
           class="login_button"
           status="primary"
           [disabled]="userRegForm.invalid"
           type="submit"
         >
           Sign Up
         </button>
       </form>
     </nb-card-body>
   </nb-card>
 </nb-layout-column>
</nb-layout>
 

